body {
    background-color: var(--white-color);
}

.about {
    background-image: unset;
    background-color: unset;
    margin-bottom: 3rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem 5%;
}

.cards-container .card {
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 3px 3px 1px var(--border-color);
}

.cards-container .card p {
    text-align: unset;
}

.cards-container .card:hover .icon {
    background-color: var(--main-color);
}

@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}