.hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    position: relative;
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    color: var(--white-color);
}

.hero::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: radial-gradient(rgba(6, 6, 6, 0.5), rgba(6, 6, 6, 0.8));
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 5;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero .btn {
    height: 3.2rem;
    width: 12.5rem;
    font-size: 1.25rem;
    border-radius: 3px;
}

/* About section */
.about {
    padding: 5rem 5%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-image: linear-gradient(180deg, var(--bg-color), var(--white-color));
}

.about article {
    width: 50%;
}

.about article h2 {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.about article p,
.about article li {
    font-family: Lama-Semibold;
    line-height: 1.8;
}

.about article p:nth-child(4) {
    margin-top: 1.5rem;
}

.about article li {
    margin: .5rem 1.5rem;
}

.about .image {
    width: 33rem;
    position: relative;
}

.about .image img {
    position: relative;
    z-index: 10;
}

.about .image::after,
.about .image::before {
    content: "";
    width: 92.5px;
    height: 158.28px;
    display: block;
    background-image: url('../images/Layer_1.png');
    background-size: cover;
    position: absolute;
    animation-name: opacity;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.about .image::before {
    top: -2rem;
    right: -1rem;
}

.about .image::after {
    bottom: -2rem;
    left: -1rem;
    animation-delay: 1s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 992px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about article {
        width: 100%
    }
}

/* Section Class of Services and Products section */
.section:not(.about.section, .customers.section) {
    padding: 4rem 0 2rem;
    background-color: #F7FAFE;
}

.section > header {
    position: relative;
}

.section > header h2 {
    width: fit-content;
    margin: 0 auto;
}

.section > header::after,
.section > header::before {
    content: "";
    display: block;
    width: 42%;
    height: 1px;
    border-bottom: 1px solid #D2D6DB;
    position: absolute;
    left: 0;
    top: 50%;
}

.section > header::before {
    left: unset;
    right: 0;
}

/* Services section */
.services > section {
    padding: 1rem 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.services section .service {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--main-color);
}

.services section .service .icon {
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgba(255, 185, 185, 1), rgba(218, 32, 29, 1));
    border-radius: 50%;
}

.services section .service .icon img {
    width: 2.5rem;
}

@media (max-width: 992px) {
    .services > section {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem auto;
    }
}

@media (max-width: 768px) {
    .services > header::after,
    .services > header::before {
        width: 35%;
    }
}

@media (max-width: 375px) {
    .services header::after,
    .services header::before {
        width: 25%;
    }

    .services > section {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

/* Products section */
.products .btn {
    width: fit-content;
    margin: 0 auto;
}


/* Customers section */
.customers {
    background-color: var(--white-color);
    padding-top: 3rem;
}

.customers > header::after,
.customers > header::before {
    content: unset;
}

.customers > section {
    padding: 2rem 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 0;
}

.customers section .customer {
    width: 12.5rem;
    height: 6.25rem;
    background-color: var(--card-color);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    position: relative;
}

.customers section .customer img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.customers section .customer:hover img {
    transform: scale(1.1);
}